In [ ]:
import numpy as np
import pandas as pd
import math
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import plotly.express as px
import plotly.graph_objs as go

**Data Source:**
https://www.fao.org/aquastat/statistics/query/index.html

# Initial Data

*   x1: Total Population *(in 1000s)*
*   x2: Population Density *(inhabitants/square km)*
*   x3: GDP per capita *(USD/inhabitant)*
*   x4: Long term average annual precipitation in depth *(mm/year)*
*   x5: Total renewable resources per capita *($m^{3}$/inhabitant /year)*
*   x6: Total water withdrawal per capita *($m^{3}$/inhabitant /year)*
*   x7: Agricultural water withdrawal *(%age of x6)*
*   x8: Industrial water withdrawal *(%age of x6)*
*   x9: Municipal water withdrawal *(%age of x6)*
*   x10: Collected Municipal wastewater  *($km^{3}$/year)*
*   x11: Capacity of the municipal wastewater treatment facilities *($km^{3}$/year)*
*   x12: Not treated municipal wastewater *($km^{3}$/year)*
*   y: Water Stress *(%age)*

In [ ]:
#Read and prepare the data
data = pd.read_csv('https://www.dropbox.com/s/j07u99pg44kbfvm/final_data.csv?dl=1')
data

              Area            Variable Name  Year         Value
0      Afghanistan         Total population  1962   9351.441000
1      Afghanistan         Total population  1967  10399.926000
2      Afghanistan         Total population  1972  11791.215000
3      Afghanistan         Total population  1977  13171.306000
4      Afghanistan         Total population  1982  12882.528000
...            ...                      ...   ...           ...
18698     Zimbabwe  SDG 6.4.2. Water Stress  2002     39.476155
18699     Zimbabwe  SDG 6.4.2. Water Stress  2007     33.514833
18700     Zimbabwe  SDG 6.4.2. Water Stress  2012     32.488030
18701     Zimbabwe  SDG 6.4.2. Water Stress  2017     31.346226
18702     Zimbabwe  SDG 6.4.2. Water Stress  2018     35.405370

[18703 rows x 4 columns]

In [ ]:
#data_x1_x5.pivot(columns='Variable Name', index='Area')['Value']
data = data.groupby(['Year','Variable Name', 'Area'])['Value'].aggregate('mean').unstack(1)
data

Variable Name                            Agricultural water withdrawal as % of total water withdrawal  \
Year Area
1962 Afghanistan                                                                       NaN
     Albania                                                                           NaN
     Algeria                                                                           NaN
     Andorra                                                                           NaN
     Angola                                                                            NaN
...                                                                                    ...
2018 Venezuela (Bolivarian Republic of)                                          73.852110
     Viet Nam                                                                    94.782397
     Yemen                                                                       90.743338
     Zambia                                                                      73.282443
     Zimbabwe                                                                    80.635470

Variable Name                            Capacity of the municipal wastewater treatment facilities  \
Year Area
1962 Afghanistan                                                                       NaN
     Albania                                                                           NaN
     Algeria                                                                           NaN
     Andorra                                                                           NaN
     Angola                                                                            NaN
...                                                                                    ...
2018 Venezuela (Bolivarian Republic of)                                                NaN
     Viet Nam                                                                        0.423
     Yemen                                                                             NaN
     Zambia                                                                            NaN
     Zimbabwe                                                                          NaN

Variable Name                            Collected municipal wastewater  \
Year Area
1962 Afghanistan                                                    NaN
     Albania                                                        NaN
     Algeria                                                        NaN
     Andorra                                                        NaN
     Angola                                                         NaN
...                                                                 ...
2018 Venezuela (Bolivarian Republic of)                             NaN
     Viet Nam                                                   0.19700
     Yemen                                                          NaN
     Zambia                                                         NaN
     Zimbabwe                                                   0.00027

Variable Name                            GDP per capita  \
Year Area
1962 Afghanistan                                    NaN
     Albania                                        NaN
     Algeria                                        NaN
     Andorra                                        NaN
     Angola                                         NaN
...                                                 ...
2018 Venezuela (Bolivarian Republic of)     6433.928949
     Viet Nam                               2538.068147
     Yemen                                   922.404203
     Zambia                                 1549.354235
     Zimbabwe                               1437.425967

Variable Name                            Industrial water withdrawal as % of total water withdrawal  \
Year Area
1962 Afghanistan                                                                       NaN
     Albania                                                                           NaN
     Algeria                                                                           NaN
     Andorra                                                                           NaN
     Angola                                                                            NaN
...                                                                                    ...
2018 Venezuela (Bolivarian Republic of)                                           3.506097
     Viet Nam                                                                     3.747409
     Yemen                                                                        1.823282
     Zambia                                                                       8.269720
     Zimbabwe                                                                     2.157035

Variable Name                            Long-term average annual precipitation in volume  \
Year Area
1962 Afghanistan                                                                213.48522
     Albania                                                                     42.69375
     Algeria                                                                    211.97486
     Andorra                                                                      0.47240
     Angola                                                                    1259.16700
...                                                                                   ...
2018 Venezuela (Bolivarian Republic of)                                        1864.23020
     Viet Nam                                                                   603.16983
     Yemen                                                                       88.17099
     Zambia                                                                     767.66220
     Zimbabwe                                                                   256.72932

Variable Name                            Municipal water withdrawal as % of total withdrawal  \
Year Area
1962 Afghanistan                                                                       NaN
     Albania                                                                           NaN
     Algeria                                                                           NaN
     Andorra                                                                           NaN
     Angola                                                                            NaN
...                                                                                    ...
2018 Venezuela (Bolivarian Republic of)                                          22.641793
     Viet Nam                                                                     1.470194
     Yemen                                                                        7.433380
     Zambia                                                                      18.447837
     Zimbabwe                                                                    17.207494

Variable Name                            Not treated municipal wastewater  \
Year Area
1962 Afghanistan                                                      NaN
     Albania                                                          NaN
     Algeria                                                          NaN
     Andorra                                                          NaN
     Angola                                                           NaN
...                                                                   ...
2018 Venezuela (Bolivarian Republic of)                               NaN
     Viet Nam                                                       1.775
     Yemen                                                            NaN
     Zambia                                                           NaN
     Zimbabwe                                                       0.099

Variable Name                            Population density  \
Year Area
1962 Afghanistan                                  14.323808
     Albania                                      60.441252
     Algeria                                       4.878714
     Andorra                                      32.702128
     Angola                                        4.498708
...                                                     ...
2018 Venezuela (Bolivarian Republic of)           31.672735
     Viet Nam                                    288.458056
     Yemen                                        53.977845
     Zambia                                       23.055378
     Zimbabwe                                     36.950563

Variable Name                            SDG 6.4.2. Water Stress  \
Year Area
1962 Afghanistan                                             NaN
     Albania                                                 NaN
     Algeria                                                 NaN
     Andorra                                                 NaN
     Angola                                                  NaN
...                                                          ...
2018 Venezuela (Bolivarian Republic of)                 7.540367
     Viet Nam                                          18.130315
     Yemen                                            169.761905
     Zambia                                             2.835498
     Zimbabwe                                          35.405370

Variable Name                            Total population  \
Year Area
1962 Afghanistan                                 9351.441
     Albania                                     1737.686
     Algeria                                    11619.828
     Andorra                                       15.370
     Angola                                      5608.539
...                                                   ...
2018 Venezuela (Bolivarian Republic of)         28887.118
     Viet Nam                                   95545.962
     Yemen                                      28498.683
     Zambia                                     17351.708
     Zimbabwe                                   14438.802

Variable Name                            Total renewable water resources per capita  \
Year Area
1962 Afghanistan                                                        6986.089096
     Albania                                                           17379.434490
     Algeria                                                            1004.059613
     Andorra                                                           20533.506830
     Angola                                                            26459.653750
...                                                                             ...
2018 Venezuela (Bolivarian Republic of)                                45868.196340
     Viet Nam                                                           9253.347619
     Yemen                                                                73.687616
     Zambia                                                             6039.751245
     Zimbabwe                                                           1385.156469

Variable Name                            Total water withdrawal per capita
Year Area
1962 Afghanistan                                                       NaN
     Albania                                                           NaN
     Algeria                                                           NaN
     Andorra                                                           NaN
     Angola                                                            NaN
...                                                                    ...
2018 Venezuela (Bolivarian Republic of)                         783.266091
     Viet Nam                                                   858.539684
     Yemen                                                      125.093500
     Zambia                                                      90.596269
     Zimbabwe                                                   261.197570

[2431 rows x 13 columns]

In [ ]:
data.isna().sum()

Variable Name
Agricultural water withdrawal as % of total water withdrawal    1180
Capacity of the municipal wastewater treatment facilities       2206
Collected municipal wastewater                                  2170
GDP per capita                                                   409
Industrial water withdrawal as % of total water withdrawal      1204
Long-term average annual precipitation in volume                 210
Municipal water withdrawal as % of total withdrawal             1182
Not treated municipal wastewater                                2082
Population density                                                27
SDG 6.4.2. Water Stress                                         1104
Total population                                                  11
Total renewable water resources per capita                        41
Total water withdrawal per capita                               1090
dtype: int64

## Exploratory Data Analysis



*   Three variables, Capacity of the municipal wastewater treatment facilities (x11), Collected municipal wastewater (x10) and Not treated municipal wastewater (x12) are missing around 75% to 80% of the values. Therefore it can be assumed that they do not impact the water stress (y) values and can be droped from the dataset.
*   All the rows with NaN values can be dropped.
*   Variables x7, x8 and x9 sum up to 100 as they are percentages of x6. Therefore we need only two of these three variables and one of them should be dropped to avoid redundancy.
*   Total population and Population density are related variables. So one of them can be dropped. Total population being a more absolute variable can be dropped.

# Cleaning the dataset

In [ ]:
#drop the rows that are missing "y" values i.e. missing SDG 6.4.2. Water Stress
print("Dimensions of the original dataset: ", data.shape)
data.dropna(subset=["Population density","GDP per capita","SDG 6.4.2. Water Stress","Agricultural water withdrawal as % of total water withdrawal","Municipal water withdrawal as % of total withdrawal"], inplace=True)
data.drop(["Total population","Capacity of the municipal wastewater treatment facilities","Collected municipal wastewater","Not treated municipal wastewater","Industrial water withdrawal as % of total water withdrawal"], axis=1, inplace=True)
print("Dimensions of the new dataset: ", data.shape)

Dimensions of the original dataset:  (2431, 13)
Dimensions of the new dataset:  (1205, 8)

In [ ]:
data.isna().sum()

Variable Name
Agricultural water withdrawal as % of total water withdrawal    0
GDP per capita                                                  0
Long-term average annual precipitation in volume                0
Municipal water withdrawal as % of total withdrawal             0
Population density                                              0
SDG 6.4.2. Water Stress                                         0
Total renewable water resources per capita                      0
Total water withdrawal per capita                               0
dtype: int64

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data

Variable Name,Year,Area,Agricultural water withdrawal as % of total water withdrawal,GDP per capita,Long-term average annual precipitation in volume,Municipal water withdrawal as % of total withdrawal,Population density,SDG 6.4.2. Water Stress,Total renewable water resources per capita,Total water withdrawal per capita
0,1972,Denmark,31.947484,4655.290175,30.29227,60.831510,115.816802,24.716063,1202.273258,183.146293
1,1972,Ghana,54.727904,493.336524,283.14698,32.902354,38.692173,1.505958,6089.084168,37.430171
2,1972,Hungary,22.379496,782.184870,54.79467,20.569268,112.072299,5.828256,9974.980064,323.626719
3,1972,Israel,78.318250,2762.062183,9.60045,16.779789,135.771726,135.122077,594.029932,531.022713
4,1972,Italy,59.201104,2674.044383,250.71488,16.811125,180.058210,37.599562,3525.699205,786.449189
...,...,...,...,...,...,...,...,...,...,...
1200,2018,Venezuela (Bolivarian Republic of),73.852110,6433.928949,1864.23020,22.641793,31.672735,7.540367,45868.196340,783.266091
1201,2018,Viet Nam,94.782397,2538.068147,603.16983,1.470194,288.458056,18.130315,9253.347619,858.539684
1202,2018,Yemen,90.743338,922.404203,88.17099,7.433380,53.977845,169.761905,73.687616,125.093500
1203,2018,Zambia,73.282443,1549.354235,767.66220,18.447837,23.055378,2.835498,6039.751245,90.596269
1204,2018,Zimbabwe,80.635470,1437.425967,256.72932,17.207494,36.950563,35.405370,1385.156469,261.197570

In [ ]:
data.corr()

Variable Name,Year,Agricultural water withdrawal as % of total water withdrawal,GDP per capita,Long-term average annual precipitation in volume,Municipal water withdrawal as % of total withdrawal,Population density,SDG 6.4.2. Water Stress,Total renewable water resources per capita,Total water withdrawal per capita
Variable Name,,,,,,,,,
Year,1.000000,-0.060807,0.223303,0.024027,0.078427,0.023163,0.030757,-0.068900,-0.051328
Agricultural water withdrawal as % of total water withdrawal,-0.060807,1.000000,-0.415532,0.018947,-0.675577,-0.180608,0.085287,-0.089993,0.296968
GDP per capita,0.223303,-0.415532,1.000000,0.026815,0.250539,0.165558,0.170544,0.093298,0.035759
Long-term average annual precipitation in volume,0.024027,0.018947,0.026815,1.000000,-0.094149,-0.073010,-0.066559,0.054745,0.066076
Municipal water withdrawal as % of total withdrawal,0.078427,-0.675577,0.250539,-0.094149,1.000000,0.148729,-0.011202,0.099943,-0.422910
Population density,0.023163,-0.180608,0.165558,-0.073010,0.148729,1.000000,0.045586,-0.090589,-0.069448
SDG 6.4.2. Water Stress,0.030757,0.085287,0.170544,-0.066559,-0.011202,0.045586,1.000000,-0.078604,0.079976
Total renewable water resources per capita,-0.068900,-0.089993,0.093298,0.054745,0.099943,-0.090589,-0.078604,1.000000,0.094333
Total water withdrawal per capita,-0.051328,0.296968,0.035759,0.066076,-0.422910,-0.069448,0.079976,0.094333,1.000000

There is no direct linear relation between any of the variables and the water stress values. We need to build a prediction model that analyze complex relations between variables such as Neural Networks.

# Scaling the dataset

In [ ]:
#Create X_data and Y_data
X_data= data[["Agricultural water withdrawal as % of total water withdrawal", "GDP per capita", "Long-term average annual precipitation in volume", "Municipal water withdrawal as % of total withdrawal", "Total renewable water resources per capita", "Total water withdrawal per capita", "Population density"]]
Y_data= data["SDG 6.4.2. Water Stress"]
X_scale= X_data.apply(lambda x: (x-x.min(axis=0)) / (x.max(axis=0)-x.min(axis=0)))
#Change the percentage to proportion
Y_scale=Y_data.apply(lambda x: x/100)

# Neural Network Model

## Splitting the dataset

In [ ]:
print(X_scale.shape,Y_scale.shape)

(1205, 7) (1205,)

In [ ]:
#convert dataframes to array
X=pd.DataFrame(X_scale).to_numpy()
Y=pd.DataFrame(Y_scale).to_numpy()

In [ ]:
X

array([[3.20902724e-01, 3.84416071e-02, 2.01606512e-03, ...,
        1.64310175e-03, 3.06699357e-02, 1.43787686e-02],
       [5.49725098e-01, 3.78738908e-03, 1.88773038e-02, ...,
        8.34868443e-03, 5.25083958e-03, 4.67859864e-03],
       [2.24795207e-01, 6.19246477e-03, 3.64997106e-03, ...,
        1.36808319e-02, 5.51757034e-02, 1.39078125e-02],
       ...,
       [9.11489140e-01, 7.35999131e-03, 5.87562111e-03, ...,
        9.44794555e-05, 2.05430567e-02, 6.60111833e-03],
       [7.36099775e-01, 1.25802472e-02, 5.11864775e-02, ...,
        8.28099080e-03, 1.45252708e-02, 2.71191726e-03],
       [8.09958693e-01, 1.16482843e-02, 1.71156816e-02, ...,
        1.89405038e-03, 4.42854017e-02, 4.45955169e-03]])

In [ ]:
Y

array([[0.24716063],
       [0.01505958],
       [0.05828256],
       ...,
       [1.69761905],
       [0.02835498],
       [0.3540537 ]])

In [ ]:
#split the data for testing and training
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(964, 7) (241, 7) (964, 1) (241, 1)

## Building the Neural Network Model

In [ ]:
#Create a neutral network model
model=tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten()),
model.add(tf.keras.layers.Dense(35, activation="relu")),
model.add(tf.keras.layers.Dense(30, activation="sigmoid")),
model.add(tf.keras.layers.Dense(25, activation="sigmoid")),
model.add(tf.keras.layers.Dense(1, activation="linear")),

#compile the model
model.compile(optimizer="adam",loss="mean_squared_error", metrics="accuracy")

In [ ]:
#train the model
model.fit(X_train, Y_train, epochs=450, batch_size=32)

Epoch 1/450
31/31 [==============================] - 1s 2ms/step - loss: 5.6654 - accuracy: 0.0000e+00
Epoch 2/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3539 - accuracy: 0.0000e+00
Epoch 3/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3597 - accuracy: 0.0000e+00
Epoch 4/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3486 - accuracy: 0.0000e+00
Epoch 5/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3588 - accuracy: 0.0000e+00
Epoch 6/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3289 - accuracy: 0.0000e+00
Epoch 7/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3269 - accuracy: 0.0000e+00
Epoch 8/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3161 - accuracy: 0.0000e+00
Epoch 9/450
31/31 [==============================] - 0s 2ms/step - loss: 5.2968 - accuracy: 0.0000e+00
Epoch 10/450
31/31 [==============================] - 0s 2ms/step - loss: 5.3001 - accuracy: 0.0000e+00
Epoch 11/450
31/31 [==============================] - 0s 2ms/step - loss: 5.2619 - accuracy: 0.0000e+00
Epoch 12/450
31/31 [==============================] - 0s 2ms/step - loss: 5.2440 - accuracy: 0.0000e+00
Epoch 13/450
31/31 [==============================] - 0s 2ms/step - loss: 5.2153 - accuracy: 0.0000e+00
Epoch 14/450
31/31 [==============================] - 0s 2ms/step - loss: 5.1826 - accuracy: 0.0000e+00
Epoch 15/450
31/31 [==============================] - 0s 2ms/step - loss: 5.1539 - accuracy: 0.0000e+00
Epoch 16/450
31/31 [==============================] - 0s 2ms/step - loss: 5.1080 - accuracy: 0.0000e+00
Epoch 17/450
31/31 [==============================] - 0s 2ms/step - loss: 5.0674 - accuracy: 0.0000e+00
Epoch 18/450
31/31 [==============================] - 0s 2ms/step - loss: 5.0204 - accuracy: 0.0000e+00
Epoch 19/450
31/31 [==============================] - 0s 2ms/step - loss: 4.9887 - accuracy: 0.0000e+00
Epoch 20/450
31/31 [==============================] - 0s 2ms/step - loss: 4.9290 - accuracy: 0.0000e+00
Epoch 21/450
31/31 [==============================] - 0s 2ms/step - loss: 4.8882 - accuracy: 0.0000e+00
Epoch 22/450
31/31 [==============================] - 0s 2ms/step - loss: 4.8560 - accuracy: 0.0000e+00
Epoch 23/450
31/31 [==============================] - 0s 2ms/step - loss: 4.7898 - accuracy: 0.0000e+00
Epoch 24/450
31/31 [==============================] - 0s 2ms/step - loss: 4.7521 - accuracy: 0.0000e+00
Epoch 25/450
31/31 [==============================] - 0s 2ms/step - loss: 4.7225 - accuracy: 0.0000e+00
Epoch 26/450
31/31 [==============================] - 0s 2ms/step - loss: 4.6621 - accuracy: 0.0000e+00
Epoch 27/450
31/31 [==============================] - 0s 2ms/step - loss: 4.6127 - accuracy: 0.0000e+00
Epoch 28/450
31/31 [==============================] - 0s 2ms/step - loss: 4.5602 - accuracy: 0.0000e+00
Epoch 29/450
31/31 [==============================] - 0s 2ms/step - loss: 4.5192 - accuracy: 0.0000e+00
Epoch 30/450
31/31 [==============================] - 0s 2ms/step - loss: 4.4580 - accuracy: 0.0000e+00
Epoch 31/450
31/31 [==============================] - 0s 3ms/step - loss: 4.4240 - accuracy: 0.0000e+00
Epoch 32/450
31/31 [==============================] - 0s 2ms/step - loss: 4.3651 - accuracy: 0.0000e+00
Epoch 33/450
31/31 [==============================] - 0s 2ms/step - loss: 4.3162 - accuracy: 0.0000e+00
Epoch 34/450
31/31 [==============================] - 0s 2ms/step - loss: 4.2819 - accuracy: 0.0000e+00
Epoch 35/450
31/31 [==============================] - 0s 2ms/step - loss: 4.2263 - accuracy: 0.0000e+00
Epoch 36/450
31/31 [==============================] - 0s 2ms/step - loss: 4.1955 - accuracy: 0.0000e+00
Epoch 37/450
31/31 [==============================] - 0s 2ms/step - loss: 4.1500 - accuracy: 0.0000e+00
Epoch 38/450
31/31 [==============================] - 0s 2ms/step - loss: 4.0863 - accuracy: 0.0000e+00
Epoch 39/450
31/31 [==============================] - 0s 2ms/step - loss: 4.0379 - accuracy: 0.0000e+00
Epoch 40/450
31/31 [==============================] - 0s 2ms/step - loss: 4.0194 - accuracy: 0.0000e+00
Epoch 41/450
31/31 [==============================] - 0s 2ms/step - loss: 3.9568 - accuracy: 0.0000e+00
Epoch 42/450
31/31 [==============================] - 0s 2ms/step - loss: 3.9190 - accuracy: 0.0000e+00
Epoch 43/450
31/31 [==============================] - 0s 2ms/step - loss: 3.8668 - accuracy: 0.0000e+00
Epoch 44/450
31/31 [==============================] - 0s 2ms/step - loss: 3.8356 - accuracy: 0.0000e+00
Epoch 45/450
31/31 [==============================] - 0s 2ms/step - loss: 3.8153 - accuracy: 0.0000e+00
Epoch 46/450
31/31 [==============================] - 0s 2ms/step - loss: 3.8011 - accuracy: 0.0000e+00
Epoch 47/450
31/31 [==============================] - 0s 2ms/step - loss: 3.7355 - accuracy: 0.0000e+00
Epoch 48/450
31/31 [==============================] - 0s 2ms/step - loss: 3.6910 - accuracy: 0.0000e+00
Epoch 49/450
31/31 [==============================] - 0s 2ms/step - loss: 3.6388 - accuracy: 0.0000e+00
Epoch 50/450
31/31 [==============================] - 0s 2ms/step - loss: 3.6081 - accuracy: 0.0000e+00
Epoch 51/450
31/31 [==============================] - 0s 2ms/step - loss: 3.5801 - accuracy: 0.0000e+00
Epoch 52/450
31/31 [==============================] - 0s 2ms/step - loss: 3.5549 - accuracy: 0.0000e+00
Epoch 53/450
31/31 [==============================] - 0s 2ms/step - loss: 3.5185 - accuracy: 0.0000e+00
Epoch 54/450
31/31 [==============================] - 0s 2ms/step - loss: 3.4939 - accuracy: 0.0000e+00
Epoch 55/450
31/31 [==============================] - 0s 3ms/step - loss: 3.4699 - accuracy: 0.0000e+00
Epoch 56/450
31/31 [==============================] - 0s 3ms/step - loss: 3.4303 - accuracy: 0.0000e+00
Epoch 57/450
31/31 [==============================] - 0s 3ms/step - loss: 3.4276 - accuracy: 0.0000e+00
Epoch 58/450
31/31 [==============================] - 0s 3ms/step - loss: 3.3620 - accuracy: 0.0000e+00
Epoch 59/450
31/31 [==============================] - 0s 3ms/step - loss: 3.3346 - accuracy: 0.0000e+00
Epoch 60/450
31/31 [==============================] - 0s 3ms/step - loss: 3.3003 - accuracy: 0.0000e+00
Epoch 61/450
31/31 [==============================] - 0s 3ms/step - loss: 3.2841 - accuracy: 0.0000e+00
Epoch 62/450
31/31 [==============================] - 0s 3ms/step - loss: 3.2829 - accuracy: 0.0000e+00
Epoch 63/450
31/31 [==============================] - 0s 3ms/step - loss: 3.2956 - accuracy: 0.0000e+00
Epoch 64/450
31/31 [==============================] - 0s 3ms/step - loss: 3.2321 - accuracy: 0.0000e+00
Epoch 65/450
31/31 [==============================] - 0s 3ms/step - loss: 3.2251 - accuracy: 0.0000e+00
Epoch 66/450
31/31 [==============================] - 0s 3ms/step - loss: 3.1677 - accuracy: 0.0000e+00
Epoch 67/450
31/31 [==============================] - 0s 3ms/step - loss: 3.1753 - accuracy: 0.0000e+00
Epoch 68/450
31/31 [==============================] - 0s 2ms/step - loss: 3.1313 - accuracy: 0.0000e+00
Epoch 69/450
31/31 [==============================] - 0s 3ms/step - loss: 3.0921 - accuracy: 0.0000e+00
Epoch 70/450
31/31 [==============================] - 0s 3ms/step - loss: 3.1080 - accuracy: 0.0000e+00
Epoch 71/450
31/31 [==============================] - 0s 2ms/step - loss: 3.0326 - accuracy: 0.0000e+00
Epoch 72/450
31/31 [==============================] - 0s 3ms/step - loss: 3.0796 - accuracy: 0.0000e+00
Epoch 73/450
31/31 [==============================] - 0s 3ms/step - loss: 3.0302 - accuracy: 0.0000e+00
Epoch 74/450
31/31 [==============================] - 0s 2ms/step - loss: 3.0481 - accuracy: 0.0000e+00
Epoch 75/450
31/31 [==============================] - 0s 3ms/step - loss: 3.0317 - accuracy: 0.0000e+00
Epoch 76/450
31/31 [==============================] - 0s 3ms/step - loss: 2.9653 - accuracy: 0.0000e+00
Epoch 77/450
31/31 [==============================] - 0s 3ms/step - loss: 2.9464 - accuracy: 0.0000e+00
Epoch 78/450
31/31 [==============================] - 0s 3ms/step - loss: 2.9436 - accuracy: 0.0000e+00
Epoch 79/450
31/31 [==============================] - 0s 3ms/step - loss: 2.9264 - accuracy: 0.0000e+00
Epoch 80/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8961 - accuracy: 0.0000e+00
Epoch 81/450
31/31 [==============================] - 0s 3ms/step - loss: 2.8882 - accuracy: 0.0000e+00
Epoch 82/450
31/31 [==============================] - 0s 3ms/step - loss: 2.8752 - accuracy: 0.0000e+00
Epoch 83/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8761 - accuracy: 0.0000e+00
Epoch 84/450
31/31 [==============================] - 0s 2ms/step - loss: 3.0214 - accuracy: 0.0000e+00
Epoch 85/450
31/31 [==============================] - 0s 2ms/step - loss: 2.9033 - accuracy: 0.0000e+00
Epoch 86/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8626 - accuracy: 0.0000e+00
Epoch 87/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8812 - accuracy: 0.0000e+00
Epoch 88/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8244 - accuracy: 0.0000e+00
Epoch 89/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8624 - accuracy: 0.0000e+00
Epoch 90/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8058 - accuracy: 0.0000e+00
Epoch 91/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7611 - accuracy: 0.0000e+00
Epoch 92/450
31/31 [==============================] - 0s 2ms/step - loss: 2.8047 - accuracy: 0.0000e+00
Epoch 93/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7578 - accuracy: 0.0000e+00
Epoch 94/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7668 - accuracy: 0.0000e+00
Epoch 95/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7411 - accuracy: 0.0000e+00
Epoch 96/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7510 - accuracy: 0.0000e+00
Epoch 97/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7182 - accuracy: 0.0000e+00
Epoch 98/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7628 - accuracy: 0.0000e+00
Epoch 99/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7262 - accuracy: 0.0000e+00
Epoch 100/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7114 - accuracy: 0.0000e+00
Epoch 101/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6795 - accuracy: 0.0000e+00
Epoch 102/450
31/31 [==============================] - 0s 2ms/step - loss: 2.7277 - accuracy: 0.0000e+00
Epoch 103/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6534 - accuracy: 0.0000e+00
Epoch 104/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6738 - accuracy: 0.0000e+00
Epoch 105/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6595 - accuracy: 0.0000e+00
Epoch 106/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6859 - accuracy: 0.0000e+00
Epoch 107/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6316 - accuracy: 0.0000e+00
Epoch 108/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6271 - accuracy: 0.0000e+00
Epoch 109/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6391 - accuracy: 0.0000e+00
Epoch 110/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6354 - accuracy: 0.0000e+00
Epoch 111/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6071 - accuracy: 0.0000e+00
Epoch 112/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6082 - accuracy: 0.0000e+00
Epoch 113/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6140 - accuracy: 0.0000e+00
Epoch 114/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6195 - accuracy: 0.0000e+00
Epoch 115/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6303 - accuracy: 0.0000e+00
Epoch 116/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5885 - accuracy: 0.0000e+00
Epoch 117/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5566 - accuracy: 0.0000e+00
Epoch 118/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5409 - accuracy: 0.0000e+00
Epoch 119/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5660 - accuracy: 0.0000e+00
Epoch 120/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5861 - accuracy: 0.0000e+00
Epoch 121/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5709 - accuracy: 0.0000e+00
Epoch 122/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5321 - accuracy: 0.0000e+00
Epoch 123/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6068 - accuracy: 0.0000e+00
Epoch 124/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5613 - accuracy: 0.0000e+00
Epoch 125/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5553 - accuracy: 0.0000e+00
Epoch 126/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4907 - accuracy: 0.0000e+00
Epoch 127/450
31/31 [==============================] - 0s 2ms/step - loss: 2.6112 - accuracy: 0.0000e+00
Epoch 128/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5051 - accuracy: 0.0000e+00
Epoch 129/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4919 - accuracy: 0.0000e+00
Epoch 130/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4944 - accuracy: 0.0000e+00
Epoch 131/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5036 - accuracy: 0.0000e+00
Epoch 132/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4834 - accuracy: 0.0000e+00
Epoch 133/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4684 - accuracy: 0.0000e+00
Epoch 134/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4170 - accuracy: 0.0000e+00
Epoch 135/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4821 - accuracy: 0.0000e+00
Epoch 136/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4747 - accuracy: 0.0000e+00
Epoch 137/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4645 - accuracy: 0.0000e+00
Epoch 138/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4267 - accuracy: 0.0000e+00
Epoch 139/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4167 - accuracy: 0.0000e+00
Epoch 140/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3910 - accuracy: 0.0000e+00
Epoch 141/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4205 - accuracy: 0.0000e+00
Epoch 142/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3719 - accuracy: 0.0000e+00
Epoch 143/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3594 - accuracy: 0.0000e+00
Epoch 144/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3646 - accuracy: 0.0000e+00
Epoch 145/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3488 - accuracy: 0.0000e+00
Epoch 146/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3591 - accuracy: 0.0000e+00
Epoch 147/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3941 - accuracy: 0.0000e+00
Epoch 148/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4137 - accuracy: 0.0000e+00
Epoch 149/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3461 - accuracy: 0.0000e+00
Epoch 150/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3402 - accuracy: 0.0000e+00
Epoch 151/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3581 - accuracy: 0.0000e+00
Epoch 152/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2928 - accuracy: 0.0000e+00
Epoch 153/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3006 - accuracy: 0.0000e+00
Epoch 154/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3231 - accuracy: 0.0000e+00
Epoch 155/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2808 - accuracy: 0.0000e+00
Epoch 156/450
31/31 [==============================] - 0s 2ms/step - loss: 2.5306 - accuracy: 0.0000e+00
Epoch 157/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3372 - accuracy: 0.0000e+00
Epoch 158/450
31/31 [==============================] - 0s 2ms/step - loss: 2.3113 - accuracy: 0.0000e+00
Epoch 159/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2302 - accuracy: 0.0000e+00
Epoch 160/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2761 - accuracy: 0.0000e+00
Epoch 161/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2788 - accuracy: 0.0000e+00
Epoch 162/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2375 - accuracy: 0.0000e+00
Epoch 163/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1813 - accuracy: 0.0000e+00
Epoch 164/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2096 - accuracy: 0.0000e+00
Epoch 165/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2138 - accuracy: 0.0000e+00
Epoch 166/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1957 - accuracy: 0.0000e+00
Epoch 167/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1628 - accuracy: 0.0000e+00
Epoch 168/450
31/31 [==============================] - 0s 2ms/step - loss: 2.4750 - accuracy: 0.0000e+00
Epoch 169/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2049 - accuracy: 0.0000e+00
Epoch 170/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1562 - accuracy: 0.0000e+00
Epoch 171/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1659 - accuracy: 0.0000e+00
Epoch 172/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1734 - accuracy: 0.0000e+00
Epoch 173/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1438 - accuracy: 0.0000e+00
Epoch 174/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1094 - accuracy: 0.0000e+00
Epoch 175/450
31/31 [==============================] - 0s 2ms/step - loss: 2.2760 - accuracy: 0.0000e+00
Epoch 176/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1428 - accuracy: 0.0000e+00
Epoch 177/450
31/31 [==============================] - 0s 1ms/step - loss: 2.1361 - accuracy: 0.0000e+00
Epoch 178/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1008 - accuracy: 0.0000e+00
Epoch 179/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1344 - accuracy: 0.0000e+00
Epoch 180/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0721 - accuracy: 0.0000e+00
Epoch 181/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1157 - accuracy: 0.0000e+00
Epoch 182/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1188 - accuracy: 0.0000e+00
Epoch 183/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0716 - accuracy: 0.0000e+00
Epoch 184/450
31/31 [==============================] - 0s 2ms/step - loss: 2.1283 - accuracy: 0.0000e+00
Epoch 185/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0595 - accuracy: 0.0000e+00
Epoch 186/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0886 - accuracy: 0.0000e+00
Epoch 187/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0657 - accuracy: 0.0000e+00
Epoch 188/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0245 - accuracy: 0.0000e+00
Epoch 189/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0545 - accuracy: 0.0000e+00
Epoch 190/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0535 - accuracy: 0.0000e+00
Epoch 191/450
31/31 [==============================] - 0s 2ms/step - loss: 2.0620 - accuracy: 0.0000e+00
Epoch 192/450

## Predicting the test data

In [ ]:
Y_hat=model.predict(X_test)
Y_hat

array([[ 0.65796757],
       [ 0.5335035 ],
       [ 0.22054121],
       [ 9.707533  ],
       [ 1.8699102 ],
       [ 0.8091043 ],
       [ 0.35086983],
       [ 0.5050263 ],
       [ 0.66379684],
       [ 1.0004947 ],
       [ 3.3303366 ],
       [ 0.33273327],
       [ 0.37605405],
       [ 0.17995167],
       [ 0.1799511 ],
       [ 0.46443385],
       [ 0.17995554],
       [ 0.66055167],
       [ 0.1902653 ],
       [ 0.18991297],
       [ 0.5332361 ],
       [ 0.17995116],
       [ 1.8830633 ],
       [ 0.18570518],
       [ 0.17995104],
       [ 0.17995104],
       [ 0.48733228],
       [ 0.97644275],
       [ 0.33638883],
       [ 0.93072355],
       [ 0.18658045],
       [ 0.17995188],
       [ 0.22406578],
       [ 0.26811117],
       [ 0.33670792],
       [ 0.18199763],
       [ 0.46033794],
       [ 0.48199075],
       [ 0.66097957],
       [ 0.30713713],
       [ 0.17996532],
       [ 0.53630096],
       [ 0.27980438],
       [ 0.79235935],
       [ 0.91138554],
       [ 0.32501394],
       [ 0.7363727 ],
       [ 4.7607126 ],
       [ 0.17995104],
       [ 1.3545681 ],
       [ 0.34235686],
       [ 0.39846915],
       [ 0.32409108],
       [ 0.2634895 ],
       [ 0.18120208],
       [14.81152   ],
       [ 0.63107467],
       [18.696886  ],
       [ 0.18722406],
       [ 0.73849607],
       [ 0.18949658],
       [ 0.21203065],
       [ 0.1810776 ],
       [ 0.22885966],
       [ 0.18133041],
       [ 0.4922583 ],
       [ 0.8651855 ],
       [ 0.1851171 ],
       [ 0.17995104],
       [ 0.17995104],
       [ 0.34602118],
       [ 0.33702105],
       [ 0.3102946 ],
       [ 0.42202097],
       [18.03807   ],
       [ 0.22093639],
       [ 0.18324256],
       [ 0.4483759 ],
       [ 0.22479212],
       [ 4.165446  ],
       [ 0.69580215],
       [ 0.17996502],
       [ 0.81666017],
       [ 0.39736044],
       [ 0.32755148],
       [ 0.56691855],
       [ 0.21527904],
       [ 0.27293512],
       [ 0.19105959],
       [ 0.18009889],
       [ 0.2288472 ],
       [ 0.26125464],
       [ 0.17995104],
       [ 0.1819526 ],
       [ 2.1236534 ],
       [ 1.9079161 ],
       [ 0.17995116],
       [ 0.5086726 ],
       [ 0.51771224],
       [ 0.53750026],
       [ 0.22074097],
       [ 0.40357777],
       [ 0.2335181 ],
       [ 0.78720605],
       [ 0.3211296 ],
       [ 0.3764931 ],
       [ 1.41289   ],
       [20.983612  ],
       [ 0.90448344],
       [ 0.17995104],
       [ 0.17995104],
       [ 1.7849575 ],
       [ 0.18102223],
       [ 0.6792966 ],
       [ 0.17995104],
       [ 0.87832296],
       [ 1.0991865 ],
       [ 0.17995104],
       [ 0.17995104],
       [ 0.17995104],
       [ 0.5070979 ],
       [ 0.17995745],
       [ 1.8332263 ],
       [ 0.8230597 ],
       [ 0.49755168],
       [ 0.7956689 ],
       [ 0.43265703],
       [ 0.35761672],
       [ 1.1841705 ],
       [ 0.94039285],
       [ 0.56193227],
       [ 0.17995104],
       [ 1.2453444 ],
       [ 0.38142735],
       [ 0.47246903],
       [ 0.1807558 ],
       [ 0.84040165],
       [ 0.3635875 ],
       [ 0.24804002],
       [ 0.5076001 ],
       [ 0.18856224],
       [ 0.24324435],
       [ 0.32839707],
       [ 7.5455117 ],
       [ 0.18951318],
       [ 0.30466607],
       [ 0.2897261 ],
       [ 0.2027109 ],
       [16.645855  ],
       [ 0.1800496 ],
       [ 0.6509979 ],
       [ 0.5614181 ],
       [ 0.1877321 ],
       [ 0.3505947 ],
       [ 0.3443672 ],
       [ 0.18041158],
       [ 0.37195665],
       [ 0.20582706],
       [ 0.20935813],
       [ 0.18099594],
       [ 0.60911393],
       [ 0.19367152],
       [ 0.18225801],
       [ 0.18002057],
       [ 0.18002516],
       [ 0.8055094 ],
       [ 0.25361997],
       [ 0.35770124],
       [ 0.1801765 ],
       [ 0.9053681 ],
       [ 0.6939304 ],
       [ 0.20023966],
       [ 0.5983573 ],
       [ 0.17995104],
       [ 0.27127352],
       [ 0.4308515 ],
       [ 0.9338473 ],
       [ 0.18960625],
       [ 0.22605422],
       [ 6.0623417 ],
       [ 0.35109824],
       [10.717073  ],
       [ 0.17998543],
       [ 0.18404078],
       [ 1.2801251 ],
       [ 0.24801841],
       [ 0.33121717],
       [ 0.27937242],
       [ 0.24827075],
       [ 0.18026114],
       [ 0.42105633],
       [ 0.20914203],
       [ 0.31935593],
       [ 0.17999378],
       [ 0.67745847],
       [ 0.39715847],
       [ 0.30300793],
       [14.524883  ],
       [ 0.20788929],
       [ 0.20850047],
       [ 0.45138526],
       [ 0.17995104],
       [ 0.18012151],
       [ 0.6816994 ],
       [ 0.18005836],
       [ 9.08592   ],
       [ 0.17995104],
       [ 0.514821  ],
       [ 0.18029338],
       [ 0.33292454],
       [ 0.3814491 ],
       [ 0.17995116],
       [ 0.98792523],
       [ 0.21298894],
       [ 0.18064907],
       [ 0.17995104],
       [ 0.19841284],
       [ 0.24849147],
       [ 0.17995113],
       [ 0.7370502 ],
       [ 0.425555  ],
       [ 0.34975266],
       [ 0.17995116],
       [ 0.4795829 ],
       [ 0.403369  ],
       [ 0.18061447],
       [ 0.18430302],
       [ 0.3491038 ],
       [ 1.773349  ],
       [ 0.30913988],
       [ 0.1984478 ],
       [ 0.24364409],
       [ 0.5624705 ],
       [ 2.7177422 ],
       [ 0.7810779 ],
       [ 0.17995104],
       [ 0.24194744],
       [ 0.38877708],
       [ 0.18674439],
       [ 0.18226829],
       [ 0.47235703]], dtype=float32)

In [ ]:
Y_test

array([[2.29007634e-01],
       [2.96206888e-01],
       [1.75148633e-02],
       [2.07500000e+01],
       [2.20613948e+00],
       [3.88275862e-01],
       [1.32127261e-01],
       [5.07512120e-01],
       [1.43000000e-01],
       [6.04817416e-01],
       [8.17142857e+00],
       [7.45392492e-02],
       [2.45277406e-01],
       [2.86766623e-02],
       [2.64311594e-03],
       [1.00000000e-01],
       [4.77183833e-02],
       [1.86850091e-01],
       [4.74111727e-01],
       [1.56043011e-02],
       [5.59307829e-01],
       [2.95817491e-01],
       [1.33706897e+00],
       [9.94818653e-02],
       [8.04808476e-02],
       [3.94075282e-03],
       [9.07854137e-01],
       [1.18656388e+00],
       [2.30437750e-02],
       [3.70435468e-01],
       [3.46646571e-02],
       [7.54036667e-02],
       [6.55649038e-02],
       [1.81765236e-01],
       [3.82136330e-01],
       [3.42712843e-02],
       [2.33564951e-01],
       [2.82682103e-01],
       [5.21923621e-01],
       [2.92911541e-02],
       [3.77538550e-01],
       [7.56620877e-01],
       [9.75243811e-03],
       [2.00991301e-01],
       [3.95533141e-01],
       [2.08824924e-01],
       [7.11035377e-01],
       [1.13514286e+00],
       [2.62529830e-04],
       [1.43880445e+00],
       [3.26518724e-01],
       [2.57560379e-01],
       [1.11751152e-01],
       [1.37735774e-01],
       [5.80150140e-02],
       [3.85050000e+01],
       [5.47570194e-01],
       [9.59365025e-01],
       [9.47610823e-02],
       [2.87588846e-01],
       [9.36649395e-02],
       [1.24734362e-01],
       [1.87188329e-02],
       [5.10507881e-02],
       [3.79509379e-02],
       [7.82026769e-02],
       [1.50189291e-01],
       [7.77029361e-02],
       [1.72353136e-03],
       [1.16896701e-02],
       [2.30139352e-01],
       [6.49885584e-02],
       [7.18249875e-02],
       [6.51105651e-01],
       [1.03614874e+00],
       [2.56590510e-02],
       [5.16449383e-02],
       [3.24880304e-01],
       [2.83235577e-01],
       [6.37548571e+00],
       [9.40303467e-01],
       [4.63130841e-03],
       [5.00389560e-01],
       [3.75995620e-01],
       [2.77404678e-01],
       [1.03681787e+00],
       [1.66811350e-01],
       [9.75243811e-03],
       [9.88394584e-02],
       [8.63461539e-03],
       [8.31183266e-02],
       [2.99513382e-01],
       [9.26784060e-04],
       [5.58641551e-02],
       [2.79882500e+00],
       [8.51485149e-01],
       [2.88136882e-01],
       [4.50260307e-01],
       [5.47570194e-01],
       [7.17060661e-01],
       [1.87614679e-02],
       [7.30527349e-01],
       [5.78108581e-02],
       [4.89502205e-01],
       [7.60000000e-02],
       [1.69166667e-01],
       [1.79109748e+00],
       [1.84715152e+01],
       [2.99988545e-01],
       [1.47686444e-02],
       [4.25512873e-02],
       [1.33862480e+00],
       [1.76795756e-02],
       [6.44808022e-01],
       [8.98148150e-04],
       [3.64597701e-01],
       [4.53788754e-01],
       [1.07817875e-03],
       [4.34259333e-02],
       [3.44623810e-03],
       [5.07512120e-01],
       [8.64485981e-03],
       [1.33706897e+00],
       [1.76690103e-01],
       [1.80494112e-01],
       [6.66292135e-01],
       [4.27471117e-01],
       [3.22571865e-01],
       [8.51371862e-01],
       [5.30072864e-01],
       [5.36715029e-01],
       [3.94075282e-03],
       [1.25963131e+00],
       [8.33333333e-03],
       [5.41841466e-01],
       [1.08100358e-02],
       [2.03884796e-01],
       [9.66526313e-02],
       [1.81303154e-01],
       [9.07854137e-01],
       [4.14191826e-01],
       [8.97486872e-03],
       [1.75048381e-01],
       [8.17142857e+00],
       [1.13561559e-01],
       [4.58407865e-01],
       [1.33397870e-01],
       [1.18163756e-02],
       [1.49999111e+01],
       [2.96965453e-01],
       [6.03103493e-01],
       [8.02082180e-01],
       [5.55561889e-02],
       [3.39163498e-02],
       [4.42160088e-01],
       [5.60030350e-02],
       [2.86564162e-01],
       [1.28601129e-01],
       [4.58141068e-02],
       [1.49572650e-02],
       [4.14518008e-01],
       [1.51296695e-01],
       [4.83472696e-02],
       [2.93246964e-02],
       [2.60495865e-01],
       [5.00389560e-01],
       [5.46429266e-02],
       [3.39163498e-02],
       [4.95794393e-03],
       [7.87544531e-01],
       [2.04774428e-01],
       [1.02850380e-01],
       [4.20371438e-01],
       [3.84059983e-03],
       [3.30786825e-02],
       [1.45149190e-01],
       [1.95356106e-01],
       [5.36126412e-01],
       [6.50892953e-02],
       [9.75822222e+00],
       [1.29632408e-01],
       [1.36096000e+01],
       [5.67741936e-03],
       [8.63402303e-02],
       [9.66102966e-01],
       [8.00308642e-02],
       [7.45392492e-02],
       [2.20965637e-02],
       [2.01819513e-02],
       [3.43948718e-02],
       [7.90000000e-02],
       [4.05642091e-01],
       [1.11751152e-01],
       [9.01071110e-03],
       [3.39470184e-01],
       [6.33333333e-02],
       [9.26053004e-02],
       [1.08912087e+00],
       [4.62126876e-02],
       [5.41463415e-02],
       [8.44187938e-01],
       [3.46869295e-02],
       [1.27501112e-02],
       [1.43000000e-01],
       [4.95794393e-03],
       [2.24302898e-01],
       [3.95060936e-02],
       [5.07512120e-01],
       [6.78235294e-02],
       [6.49434524e-01],
       [4.12603648e-02],
       [2.98510773e-01],
       [2.91142701e-01],
       [2.20295413e-01],
       [6.26338330e-02],
       [2.24215247e-03],
       [1.48682746e-01],
       [1.93170996e-01],
       [3.34759358e-02],
       [2.11559433e-01],
       [1.57651307e-01],
       [2.03531422e-01],
       [1.45433806e-03],
       [9.10572230e-01],
       [4.90663391e-01],
       [6.05995717e-02],
       [7.82535942e-03],
       [7.62776507e-02],
       [1.43560021e+00],
       [4.51721883e-02],
       [4.22607579e-02],
       [2.83549784e-02],
       [6.29748588e-01],
       [1.33163661e+00],
       [6.73267327e-01],
       [1.42250110e-02],
       [1.38701736e-01],
       [1.44537237e-01],
       [2.09876543e-02],
       [3.99167890e-02],
       [3.54053699e-01]])

# Predict the water stress values for 2022

In [ ]:
#Read and prepare the data
data_2022 = pd.read_csv('validation_data.csv')
data_2022

,Unnamed: 0,Year,Area,Agricultural water withdrawal as % of total water withdrawal,GDP per capita,Long-term average annual precipitation in volume,Municipal water withdrawal as % of total withdrawal,Population density,Total renewable water resources per capita,Total water withdrawal per capita
0,0,2022,Afghanistan,97.941104,656.180969,213.485220,0.993969,61.257508,969.975594,176.892287
1,1,2022,Albania,57.542793,5786.599868,41.381326,30.362635,101.094659,10689.844270,363.927480
2,2,2022,Algeria,58.977252,4659.461837,211.974923,38.004788,18.409220,233.342039,255.148373
3,3,2022,Angola,5.890727,4653.147601,1259.167000,53.707643,25.809087,3238.309847,21.052376
4,4,2022,Antigua and Barbuda,14.236588,16491.180460,0.453200,63.205424,231.527633,485.886409,131.255451
...,...,...,...,...,...,...,...,...,...,...
172,172,2022,Venezuela (Bolivarian Republic of),76.424646,9129.766093,1864.069566,21.187347,35.293496,32080.107670,819.597845
173,173,2022,Viet Nam,95.873180,2400.104517,602.640497,0.828757,304.226958,8166.541004,944.226983
174,174,2022,Yemen,90.544375,1217.420441,88.170990,7.490926,57.992638,56.084185,106.871156
175,175,2022,Zambia,72.242013,1861.535819,767.662200,18.899592,24.287317,4918.652720,67.947275
176,176,2022,Zimbabwe,82.041760,1204.127361,256.729320,15.679512,37.888992,1301.994531,298.781443

In [ ]:
#Extract the array for countries
area_2022=data_2022["Area"]
area_2022.to_frame()

                                   Area
0                           Afghanistan
1                               Albania
2                               Algeria
3                                Angola
4                   Antigua and Barbuda
..                                  ...
172  Venezuela (Bolivarian Republic of)
173                            Viet Nam
174                               Yemen
175                              Zambia
176                            Zimbabwe

[177 rows x 1 columns]

##Plot for 2022

In [ ]:
X_2022_ori = data_2022[["Agricultural water withdrawal as % of total water withdrawal", "GDP per capita", "Long-term average annual precipitation in volume", "Municipal water withdrawal as % of total withdrawal", "Total renewable water resources per capita", "Total water withdrawal per capita", "Population density"]]
X_2022_scale = X_2022_ori.apply(lambda x: (x-x.min(axis=0)) / (x.max(axis=0)-x.min(axis=0)))
X_2022 = pd.DataFrame(X_2022_scale).to_numpy()
X_2022.shape

(177, 7)

In [ ]:
Y_2022=model.predict(X_2022)
#Y_2022=Y_2022.apply(lambda x: x*100)

In [ ]:
df1= pd.DataFrame(Y_2022, columns=["Water Stress"])
df2 = pd.concat([area_2022, df1], axis=1, join='inner')
df2.sort_values(by=["Water Stress"], ascending=False, inplace=True)

                                 Area  Water Stress
166              United Arab Emirates     20.466343
86                             Kuwait     18.303040
139                      Saudi Arabia     10.226875
79                             Israel      7.828538
93                              Libya      7.449485
..                                ...           ...
123                          Paraguay      0.126691
124                              Peru      0.126691
88   Lao People's Democratic Republic      0.126691
170                           Uruguay      0.126691
31                              Chile      0.126691

[177 rows x 2 columns]

In [ ]:
country = df2['Area']
stress=df2['Water Stress']
fig = px.bar(df2,stress, y= country,orientation = 'h', title='Water Stress 2022')
fig.update_layout(yaxis={'categoryorder':'total ascending'})
fig.show()